*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Fredoka One', cursive;
	background-image: url('maple.jpg');
	background-size: cover;
	background-position: top center;
}
.app-wrap{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header{
	display: flex;
	justify-content: center;
	padding: 30px 15px;
	align-items: center;
	margin-bottom: 25px;
}
header input{
	width: 100%;
	max-width: 300px;
	padding: 10px 15px;
	background-color: rgba(255,255,255,0.1);
	border: none;
	outline: none;
	border-radius: 15px 0px 15px 0px;
	font-family: inherit; 
	font-size: 20px;
	font-weight: 50;
	border-bottom: 5px solid yellow;
	transition: 0.5s ease-out;
}
header input:hover {
	background-color: rgba(255,255,255,0.6);
	max-width: 350px;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 20px 25px;
}
.location .city{
	color: white;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 25px;
	transition: 0.5s ease-out;
	text-shadow: 2px 5px rgba(0,0,0,0.9);
}
.location .city:hover{
	font-size: 45px
}
.location .date{
	color: rgba(0,0,0,0.7);
	font-size: 25px;
	font-weight: 300;
	text-shadow: 1px 1px rgba(0,0,0,0.5)
	margin-bottom: 25px;
}
.current{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 5px 25px;
}
.current .temp{
	color: yellow;
	font-size: 75px;
	text-shadow: 2px 5px rgba(0,0,0,0.9);
	margin-bottom: 25px;
	transition: 0.5s ease-out;
}
.current .temp:hover{
	font-size: 85px;
}
.current .temp span{
	font-size: 50px;
	font-weight: 500;
}
.current .weather{
	color: rgba(0,0,0,0.9);
	font-size: 30px;
	font-weight: 300;
	text-shadow: 1px 1px rgba(0,0,0,0.5)
	font-style: italic;
	margin-bottom: 25px;
}
.current .sun{
	color: white;
	font-size: 120%;
	font-weight: 500;
	text-shadow: 1px 1px rgba(0,0,0,1);
	margin-bottom: 75px;
	transition: 0.5s ease-out;
}
.current .sun:hover{
	font-size: 135%;
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,0.3);
	font-size: 15px;
	text-shadow: 1px 1px rgba(0,0,0,0.2)
}
