*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Fredoka One', cursive;
	background-image: url('maple.jpg');
	background-color: #006a4e;
	background-size: cover;
	background-position: top center;
}
.app-wrap{
	display: flex;
	flex-direction: column;
}
header{
	display: flex;
	justify-content: center;
	padding: 2vh 3vw;
	align-items: center;
	margin-top: 7vh;
	margin-bottom:5vh;
}
header input{
	width: 75vw;
	height: 10vh;
	padding: 3vh 3vw;
	background-color: rgba(255,255,255,0.1);
	border-radius: 2vh 0vh 2vh 0vh;
	font-family: inherit; 
	font-size: 3vh;
	text-align: center;
	outline: none;
	border:none;
	border-bottom: 1vh solid yellow;
	transition: 0.5s ease-out;
}
header input:hover {
	background-color: rgba(255,255,255,0.7);
	width: 80vw;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 1vh;
}
.location .city{
	color: white;
	font-size: 7vh;
	margin-bottom: 5vh;
	transition: 0.5s ease-out;
	text-shadow: 2px 5px rgba(0,0,0,0.9);
}
.location .city:hover{
	font-size: 8vh;
}
.current{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 2vh;
}
.current .temp{
	margin-bottom: 5vh;
}
.current .temp .nor-temp{
	color: yellow;
	font-size: 12vh;
	text-shadow: 2px 5px rgba(0,0,0,0.9);
	transition: 0.5s ease-out;
}
.current .temp .nor-temp:hover{
	font-size: 13vh;
}
.current .weather{
	color: rgba(0,0,0,0.9);
	font-size: 8vh;
	text-shadow: 1px 3px rgba(0,0,0,0.3);
	font-style: italic;
	margin-bottom: 7vh;
	transition: 0.5s ease-out;
}
.current .weather:hover{
	font-size:9vh;
}
.current .more-info{
	color: white;
	font-size: 2vh;
	margin-bottom: 3vh;
	text-shadow: 2px 5px rgba(0,0,0,0.9);
}
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,0.3);
	font-size: 2vh;
	text-shadow: 2px 3px rgba(0,0,0,0.2);
	margin: 3vh auto;
}
